@charset "UTF-8";
@import url("../css/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap");
/* line 1, components/layout.scss */
html {
  font-size: 18px; }
  @media screen and (max-width: 768px) {
    /* line 1, components/layout.scss */
    html {
      font-size: 17px; } }
  @media screen and (max-width: 480px) {
    /* line 1, components/layout.scss */
    html {
      font-size: 16px; } }

/* line 13, components/layout.scss */
body {
  font-family: 'Alegreya Sans', sans-serif;
  color: #fff;
  line-height: 1.42;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  position: relative; }

/* line 22, components/layout.scss */
body, html {
  height: 100%; }

/* line 26, components/layout.scss */
.big-block {
  height: 100vh;
  width: 100vw;
  background: #497870; }

/* line 32, components/layout.scss */
.section {
  height: 100vh; }
  /* line 35, components/layout.scss */
  .section-1 {
    background: blueviolet; }
  /* line 39, components/layout.scss */
  .section-2 {
    background: orange; }
  /* line 43, components/layout.scss */
  .section-3 {
    background: red; }
  /* line 47, components/layout.scss */
  .section-4 {
    background: green; }

/* line 52, components/layout.scss */
a {
  color: inherit; }

/* line 56, components/layout.scss */
table {
  border-collapse: collapse; }

/* line 60, components/layout.scss */
ul {
  padding: 0;
  margin: 0; }
  /* line 63, components/layout.scss */
  ul li {
    list-style: none; }

/* line 68, components/layout.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

/* line 73, components/layout.scss */
p {
  margin: 0;
  padding: 0; }

/* line 78, components/layout.scss */
* {
  box-sizing: border-box; }

/* line 82, components/layout.scss */
img {
  display: block;
  width: 100%; }

/* line 87, components/layout.scss */
footer {
  position: relative;
  width: 100%; }

/* line 92, components/layout.scss */
.wrapper {
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; }

/* line 100, components/layout.scss */
.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative; }

/* line 1, components/hero.scss */
.hero {
  background: url("../img/CHOCCO/hero/узор.png") right bottom no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  min-width: 36.1111111111rem;
  position: relative; }
  @media screen and (max-width: 768px) {
    /* line 1, components/hero.scss */
    .hero {
      background-position: right bottom 67%; } }
  @media screen and (max-width: 768px) {
    /* line 16, components/hero.scss */
    .hero::before, .hero::after {
      display: none; } }
  /* line 22, components/hero.scss */
  .hero::before {
    content: url("../img/CHOCCO/hero/group_6.png");
    position: absolute;
    bottom: -6%;
    right: 15%; }
  /* line 30, components/hero.scss */
  .hero::after {
    content: url("../img/CHOCCO/hero/лист_3.png");
    position: absolute;
    bottom: -6%;
    left: 7%; }

/* line 38, components/hero.scss */
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem;
  background: url("../img/CHOCCO/hero/батончики.png") right center/50% auto no-repeat; }
  @media screen and (max-width: 768px) {
    /* line 38, components/hero.scss */
    .hero-container {
      background: none; } }

/* line 1, components/container-logo.scss */
.container-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.3888888889rem;
  margin-bottom: 5.5555555556rem; }

/* line 9, components/container-logo.scss */
.header-logo {
  display: flex;
  align-items: center;
  width: 74%; }

/* line 15, components/container-logo.scss */
.logo {
  display: flex;
  margin-left: 4.4444444444rem;
  margin-right: 2.5555555556rem;
  width: 2.9055555556rem;
  height: 2.1111111111rem;
  content: url("../img/CHOCCO/container-logo/logo.svg");
  align-items: center; }
  @media screen and (max-width: 768px) {
    /* line 15, components/container-logo.scss */
    .logo {
      margin-left: 0; } }

/* line 31, components/container-logo.scss */
.menu-header {
  display: flex;
  width: 96%; }
  @media screen and (max-width: 768px) {
    /* line 31, components/container-logo.scss */
    .menu-header {
      display: none; } }

/* line 40, components/container-logo.scss */
.menu-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; }

/* line 47, components/container-logo.scss */
.menu-link {
  text-decoration: none;
  font-size: 1rem; }

/* line 52, components/container-logo.scss */
.contacts-header {
  display: flex;
  width: 20%;
  margin-right: 7%;
  justify-content: flex-end; }

/* line 59, components/container-logo.scss */
.contacts-phone {
  display: flex;
  align-items: center;
  font-size: 1.3333333333rem;
  text-decoration: none; }

@media screen and (max-width: 768px) {
  /* line 66, components/container-logo.scss */
  .contacts-phone_header {
    display: none; } }

/* line 72, components/container-logo.scss */
.contacts-phone::before {
  content: url("../img/CHOCCO/container-logo/phone.png");
  margin-right: 0.2777777778rem; }

/* line 1, components/title.scss */
.title {
  display: flex;
  align-items: flex-start;
  width: 32%;
  min-height: 16.6666666667rem;
  flex-direction: column;
  margin-left: 4.2777777778rem;
  margin-bottom: 3.6666666667rem; }
  @media screen and (max-width: 768px) {
    /* line 1, components/title.scss */
    .title {
      width: 100%;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-left: 0; }
      /* line 20, components/title.scss */
      .title::before {
        content: url("../img/CHOCCO/title/comp_1.png"); } }

/* line 26, components/title.scss */
.title-text {
  font-size: 2.6666666667rem;
  font-weight: bold;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 0.2222222222rem; }

/* line 35, components/title.scss */
.subtitle {
  font-size: 1.1666666667rem;
  font-style: normal;
  line-height: 1.2;
  margin-bottom: 1.6666666667rem; }
  @media screen and (max-width: 768px) {
    /* line 35, components/title.scss */
    .subtitle {
      padding: 0 25%; } }

/* line 1, components/btn.scss */
.btn {
  background: #fff;
  color: #0b4d3c;
  font-size: 1.0555555556rem;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 1.9444444444rem;
  padding: 0.9444444444rem 2.1111111111rem; }
  /* line 14, components/btn.scss */
  .btn:hover {
    background: #0b4d3c;
    color: #fff;
    transition: 0.3s; }
  /* line 20, components/btn.scss */
  .btn-green {
    background: #0b4d3c;
    color: #fff; }
    /* line 24, components/btn.scss */
    .btn-green:hover {
      background: #fff;
      color: #0b4d3c;
      transition: 0.3s; }
  /* line 31, components/btn.scss */
  .btn-transparent {
    background: transparent;
    color: #000;
    text-transform: none; }
    /* line 36, components/btn.scss */
    .btn-transparent:hover {
      background: transparent;
      color: #0b4d3c; }

/* line 1, components/bullet-text.scss */
.bullet-text {
  display: flex;
  width: 44%;
  margin: 0rem 2.1666666667rem 1.2222222222rem 0.3888888889rem;
  margin-left: 4.5rem;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    /* line 1, components/bullet-text.scss */
    .bullet-text {
      display: none; } }

/* line 13, components/bullet-text.scss */
.icon-bullet_leaves, .icon-bullet_auto, .icon-bullet_paper {
  width: 7.7777777778rem;
  font-size: 0.9444444444rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: space-between; }

/* line 22, components/bullet-text.scss */
.icon-bullet_leaves::before {
  display: flex;
  width: 5.1111111111rem;
  height: 1.8333333333rem;
  align-items: flex-end;
  content: url("../img/CHOCCO/icons/5.svg"); }

/* line 31, components/bullet-text.scss */
.icon-bullet_auto::before {
  display: flex;
  width: 5.3333333333rem;
  height: 1.8333333333rem;
  align-items: flex-end;
  margin-left: 0.6111111111rem;
  content: url("../img/CHOCCO/icons/6.svg"); }

/* line 40, components/bullet-text.scss */
.icon-bullet_paper::before {
  display: flex;
  width: 3.4444444444rem;
  height: 1.8333333333rem;
  align-items: flex-end;
  margin-left: 0.2222222222rem;
  content: url("../img/CHOCCO/icons/4.svg"); }

/* line 49, components/bullet-text.scss */
.icon-bullet_leaves::before, .icon-bullet_auto::before, .icon-bullet_paper::before {
  margin-right: 0.5rem; }

/* line 1, components/section.scss */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 36.1111111111rem; }

/* line 9, components/section.scss */
.section-title {
  color: #292929;
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.3888888889rem; }

/* line 18, components/section.scss */
.title_green {
  color: #0b4d3c; }

/* line 1, components/headline.scss */
.headline {
  text-align: center; }

/* line 5, components/headline.scss */
.headline-title {
  color: #292929;
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.3888888889rem; }

/* line 15, components/headline.scss */
.headline-subtitle {
  color: #666666;
  padding: 0 30%;
  margin-bottom: 2.3333333333rem; }
  @media screen and (max-width: 768px) {
    /* line 15, components/headline.scss */
    .headline-subtitle {
      padding: 0 23%; } }

/* line 1, components/benefits.scss */
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
  margin-right: 4%; }

/* line 8, components/benefits.scss */
.benefits-item {
  flex: 1;
  padding: 0 3%;
  position: relative; }
  /* line 13, components/benefits.scss */
  .benefits-item::before {
    content: url("/public_html/img/CHOCCO/benefits/combined.png");
    position: absolute;
    top: 2.7777777778rem;
    right: 0;
    transform: translateX(50%); }
  /* line 21, components/benefits.scss */
  .benefits-item:first-child {
    padding-left: 0; }
  /* line 25, components/benefits.scss */
  .benefits-item:last-child {
    padding-right: 0; }
    /* line 28, components/benefits.scss */
    .benefits-item:last-child::before {
      display: none; }

/* line 1, components/benefit.scss */
.benefit {
  text-align: center; }

/* line 6, components/benefit.scss */
.benefit-wrap {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden; }

/* line 16, components/benefit.scss */
.benefit-icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* line 25, components/benefit.scss */
.benefit-desc {
  color: #666666; }

/* line 29, components/benefit.scss */
.benefit-title {
  font-size: 1.5555555556rem;
  font-weight: bold;
  color: #292929; }

/* line 1, components/benefits-section.scss */
.benefits-section {
  position: relative;
  background: url("../img/CHOCCO/benefits-section/узор_лист_1.png") left top 57% no-repeat; }
  @media screen and (max-width: 768px) {
    /* line 1, components/benefits-section.scss */
    .benefits-section {
      background-position: left top 17%; } }
  /* line 9, components/benefits-section.scss */
  .benefits-section::before {
    content: url("../img/CHOCCO/benefits-section/малина_1.png");
    position: absolute;
    bottom: -4.4444444444rem;
    left: 0; }

/* line 1, components/reviews.scss */
.reviews-section {
  position: relative;
  background: url("../img/CHOCCO/reviews/ягода_3.png") right 5% top no-repeat; }
  /* line 5, components/reviews.scss */
  .reviews-section::before {
    content: url("../img/CHOCCO/reviews/узор_1.png");
    position: absolute;
    bottom: -8.5555555556rem;
    left: 0; }
  /* line 12, components/reviews.scss */
  .reviews-section::after {
    content: url("../img/CHOCCO/reviews/ягоды_2.png");
    position: absolute;
    bottom: -4.4444444444rem;
    left: 0; }

/* line 21, components/reviews.scss */
.reviews-display {
  background: url("../img/CHOCCO/reviews/слой_1.png") right top no-repeat;
  background-color: #F8FAF9;
  margin-left: 4.6666666667rem;
  margin-right: 4.3333333333rem;
  padding: 2.8333333333rem 4.3333333333rem 1.8888888889rem 2.4444444444rem;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 768px) {
    /* line 21, components/reviews.scss */
    .reviews-display {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 2.2222222222rem;
      padding: 2.8333333333rem 1.2222222222rem 1.8888888889rem; } }
  /* line 37, components/reviews.scss */
  .reviews-display::before {
    content: "";
    position: absolute;
    display: block;
    width: 5rem;
    height: 5rem;
    background: #ffff;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -3.6111111111rem; }

/* line 51, components/reviews.scss */
.reviews-display-inner {
  display: flex; }
  @media screen and (max-width: 768px) {
    /* line 51, components/reviews.scss */
    .reviews-display-inner {
      flex-direction: column;
      text-align: center;
      align-items: center; } }

/* line 61, components/reviews.scss */
.reviews-avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem; }
  @media screen and (max-width: 768px) {
    /* line 61, components/reviews.scss */
    .reviews-avatar {
      width: 7.2222222222rem;
      height: 7.3333333333rem; } }

/* line 71, components/reviews.scss */
.reviews-avatar-img1 {
  object-fit: cover;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    /* line 71, components/reviews.scss */
    .reviews-avatar-img1 {
      display: none; } }

/* line 81, components/reviews.scss */
.reviews-avatar-img2 {
  display: none; }
  @media screen and (max-width: 768px) {
    /* line 81, components/reviews.scss */
    .reviews-avatar-img2 {
      display: flex;
      object-fit: cover;
      width: 100%;
      height: 100%; } }

/* line 92, components/reviews.scss */
.reviews-content {
  flex: 1;
  margin-left: 1.1111111111rem; }
  @media screen and (max-width: 768px) {
    /* line 96, components/reviews.scss */
    .reviews-content_block1 {
      display: none; } }

/* line 105, components/reviews.scss */
.reviews-content_block2 {
  display: none; }
  @media screen and (max-width: 768px) {
    /* line 105, components/reviews.scss */
    .reviews-content_block2 {
      display: block;
      flex: 1; } }

/* line 114, components/reviews.scss */
.reviews-title {
  color: #292929;
  margin-top: 0.5rem;
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1rem; }

/* line 122, components/reviews.scss */
.reviews-text {
  color: #666666;
  line-height: 1.2;
  margin-bottom: 1.4444444444rem;
  padding: 0 6rem 0 0; }
  @media screen and (max-width: 768px) {
    /* line 122, components/reviews.scss */
    .reviews-text {
      padding: 0; } }

/* line 133, components/reviews.scss */
.reviews-author {
  color: #292929;
  font-size: 1rem;
  font-weight: bold; }

/* line 139, components/reviews.scss */
.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/* line 1, components/interactive-avatar.scss */
.interactive-avatar {
  width: 4.5555555556rem;
  height: 4.5555555556rem;
  border: 0.2222222222rem solid transparent;
  border-radius: 50%;
  overflow: hidden; }
  /* line 8, components/interactive-avatar.scss */
  .interactive-avatar_active {
    border-color: #0f5a47; }

/* line 13, components/interactive-avatar.scss */
.interactive-avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* line 1, components/border.scss */
.border-section {
  background: url("../img/CHOCCO/border/pattern.png") center center no-repeat;
  height: 100vh;
  min-width: 36.1111111111rem; }
  /* line 9, components/border.scss */
  .border-section::before {
    content: url("../img/CHOCCO/border/лист_3.png");
    right: 3%;
    bottom: 5%;
    position: absolute; }
  /* line 17, components/border.scss */
  .border-section::after {
    content: url("../img/CHOCCO/border/ягода_2.png");
    left: 3%;
    bottom: 5%;
    position: absolute; }
  @media screen and (max-width: 768px) {
    /* line 25, components/border.scss */
    .border-section::before, .border-section::after {
      display: none; } }

/* line 1, components/form.scss */
.form {
  display: flex;
  color: #497870;
  margin: 5% 7% 0 7%;
  user-select: none; }
  @media screen and (max-width: 768px) {
    /* line 1, components/form.scss */
    .form {
      flex-direction: column;
      padding: 0 4.1666666667rem; } }

/* line 13, components/form.scss */
.form-col {
  flex: 1;
  margin-right: 1.1111111111rem; }
  /* line 17, components/form.scss */
  .form-col:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    /* line 13, components/form.scss */
    .form-col {
      margin-right: 0; } }

/* line 26, components/form.scss */
.form-row {
  display: flex;
  margin-bottom: 1rem; }

/* line 31, components/form.scss */
.form-block {
  flex: 1;
  margin-right: 1.1111111111rem; }
  /* line 35, components/form.scss */
  .form-block:last-child {
    margin-right: 0; }

/* line 40, components/form.scss */
.form-input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border-radius: 0.2222222222rem;
  border: solid 0.1666666667rem transparent; }
  /* line 47, components/form.scss */
  .form-input_textarea {
    height: 9.8333333333rem;
    resize: none; }
  /* line 52, components/form.scss */
  .form-input:focus {
    border-color: #DEE2BD;
    border-radius: 0.2222222222rem;
    outline: none; }

/* line 59, components/form.scss */
.form-controls {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.2222222222rem; }

/* line 1, components/radio.scss */
.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0.5555555556rem; }
  /* line 8, components/radio.scss */
  .radio_checkbox .radio-visible {
    border-radius: 0; }
    /* line 11, components/radio.scss */
    .radio_checkbox .radio-visible::before {
      background: url("../img/CHOCCO/icons/checkmark.svg") center center no-repeat; }

/* line 18, components/radio.scss */
.radio-elem {
  display: none; }
  /* line 22, components/radio.scss */
  .radio-elem:checked ~ .radio-visible::before {
    display: block; }

/* line 28, components/radio.scss */
.radio-visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #ffffff; }
  /* line 35, components/radio.scss */
  .radio-visible::before {
    content: "";
    width: 0.7777777778rem;
    height: 0.7777777778rem;
    background: #365A49;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* line 50, components/radio.scss */
.radio-title {
  padding-left: 0.5555555556rem;
  padding-right: 1.2777777778rem; }

/* line 1, components/fixed-menu.scss */
.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100; }
  @media screen and (max-width: 768px) {
    /* line 1, components/fixed-menu.scss */
    .fixed-menu {
      display: none; } }

/* line 12, components/fixed-menu.scss */
.fixed-item {
  margin-bottom: 0.2777777778rem; }
  /* line 16, components/fixed-menu.scss */
  .fixed-item_active .fixed-link {
    border-color: #fff; }

/* line 22, components/fixed-menu.scss */
.fixed-link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative; }
  /* line 30, components/fixed-menu.scss */
  .fixed-link::before {
    content: "";
    width: 0.3333333333rem;
    height: 0.3333333333rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* line 1, components/burger.scss */
#burger {
  background: transparent;
  border: transparent;
  width: 40px;
  position: relative;
  cursor: pointer;
  display: none; }
  /* line 10, components/burger.scss */
  #burger:hover {
    transform: scale(1.1);
    transition: 1ms; }
  @media screen and (max-width: 768px) {
    /* line 1, components/burger.scss */
    #burger {
      display: block; } }

/* line 20, components/burger.scss */
.burger-span {
  content: "";
  height: 2px;
  width: 35px;
  display: block;
  border: 1px solid #fff;
  border-radius: 25%;
  background: #fff; }
  /* line 29, components/burger.scss */
  .burger-span:before {
    content: "";
    height: 2px;
    width: 35px;
    display: block;
    border: 1px solid #fff;
    border-radius: 25%;
    background: #fff;
    bottom: 10px;
    left: 7px;
    position: absolute; }
  /* line 42, components/burger.scss */
  .burger-span:after {
    content: "";
    height: 2px;
    width: 35px;
    display: block;
    border: 1px solid #fff;
    border-radius: 25%;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 7px; }

/*# sourceMappingURL=main.css.map */
