.benefits-section {
  position: relative;
  background: url("../img/CHOCCO/benefits-section/pattern_sheet_1.png") left top 57% no-repeat;

  @include tablets {
    background-position: left top 17%;
  }

  @include phones {
   background: none;
  }

  &::before {
    content: url("../img/CHOCCO/benefits-section/raspberry_1.png");
    position: absolute;
    bottom: rem(-80px);
    left: 0;

    @include phones {
      content: none;
    }
  }

}