.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
  margin-right: 4%;

  @include phones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1;
    height: 100%;
  }
}

.benefits-item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  @include phones {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  &::before {
    content: url("../img/CHOCCO/benefits/combined.png");
    position: absolute;
    top: rem(50px);
    right: 0;
    transform: translateX(50%);

    @include tablets {
      display: none;
    }
  }

  &:first-child {
   padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
}

