.border-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: 
    url("../img/CHOCCO/border/pattern.png") center center/cover no-repeat;
  position: relative;
  
  &::before {
    content: 
    url("../img/CHOCCO/border/sheet_3.png");
    right: 3%;
    bottom: 10%;
    position: absolute;
  }
  
  &::after {
    content: 
    url("../img/CHOCCO/border/berry_2.png");
    left: 3%;
    bottom: 10%;
    position: absolute;
  }

  &::before, &::after {
    @include tablets {
      display: none;
    }
  }
}

