.border-section {
  background: 
    url("../img/CHOCCO/border/pattern.png") center center no-repeat;
  
  
  &::before {
    content: 
    url("../img/CHOCCO/border/sheet_3.png");
    right: 3%;
    bottom: 5%;
    position: absolute;
  }
  
  &::after {
    content: 
    url("../img/CHOCCO/border/berry_2.png");
    left: 3%;
    bottom: 5%;
    position: absolute;
  }

  &::before, &::after {
    @include tablets {
      display: none;
    }
  }
}

