#burger {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: none;

  @include tablets {
    display: flex;
  }

  @include phones {
    display: flex;
  }
}

#burger input { 
  display: flex;
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

#burger span {
  width: 45px;
  height: 8px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 4px;
  -webkit-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -moz-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -ms-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -o-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  transition: all .5s cubic-bezier(.08,.81,.87,.71);
}

.burger-span1 {
  transform-origin: 4px 0px;
}

.burger-span3 {
  transform-origin: bottom right;
}

#burger input:checked ~ .burger-span1 {
  background-color: #ffffff;
  transform: rotate(45deg) translate(8px);
}

#burger input:checked ~ .burger-span2 {
  background-color: #ffffff;
  transform: rotate(495deg) translate(4px);
}

#burger input:checked ~ .burger-span3 {
  background-color: #ffffff;
  transform: rotate(45deg);
  opacity: 0;
}
  
