.composition {
  width: 270px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(40px);
  color: #000000;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: -2100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.slider-ingredients:hover .composition {
  opacity: 1;
  left: 100%;
}

.composition-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  margin: 16px 10px 16px 10px;
}

.composition-icon {
  width: 50px;
  height: 50px;
}

.composition-name {
  width: 50%;
}

.composition-amount {
  padding-right: 20px;
}