.form {
  display: flex;
  color: $green;
  margin: 5% 7% 0 7%;
  user-select: none;

  @include tablets {
    flex-direction: column;
    padding: 0 rem(75px);
  }

  @include phones {
    margin: 0;
    padding: 0;
  }
}

.form-col {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form-row {
  display: flex;
  margin-bottom: rem(18px);
}

.form-block {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.form-input {
  width: 100%;
  border: none;
  padding: rem(18px) rem(11px);
  border-radius: rem(4px);
  border: solid rem(3px) transparent;

  @include phones {
    padding: 0;
  }

  &_textarea {
    height: rem(177px);
    resize: none;

    @include phones {
      height: rem(75px);
    }
  }

  &:focus {
    border-color: #DEE2BD;
    border-radius: rem(4px);
    outline: none;
  }
}

.input-error {
  border-color: red;
}

.form-controls {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: rem(40px);

  @include phones {
    padding-bottom: rem(15px);
  }
}

.form-btns {
  @include tablets {
    display: flex;
    justify-content: center;
  }
}