.headline {
  text-align: center;
 
  @include phones {
    margin-top: 0;
  }
}

.headline-title {
  color: #292929;
  font-size: rem(48px);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: rem(25px);

  @include phones {
    margin-top: 10%;
    margin-bottom: 0;
  }
}

.headline-subtitle {
  color: #666666;
  padding: 0 30%;
  margin-bottom: rem(42px);

  @include tablets {
    padding: 0 23%;
  }

  @include phones {
    padding: 0 5%;
  }
}



