.headline {
  display: flex;
  flex-direction: column;
  
  @include phones {
    height: 97%;
    
  }
}

.headline-cap {
  display: flex;
  flex-direction: column;
 
  @include phones {
    line-height: 1;
    margin-top: 0;
  }
}

.headline-title {
  color: #292929;
  font-size: rem(48px);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: rem(25px);

  @include phones {
    margin-top: 2%;
    margin-bottom: 0;
  }
}

.headline-subtitle {
  color: #666666;
  padding: 0 26%;
  margin-bottom: rem(42px);

  @include tablets {
    padding: 0 23%;
  }

  @include phones {
    padding: 0 5%;
  }
}



