.hero {
  background:
  url("../img/CHOCCO/hero/pattern.png") right bottom no-repeat;
  background-color: $blue; 
  height: 100%;
  min-width: rem(650px);
  position: relative;

  @include tablets {
    background-position: right bottom 67%;
  }

  @include phones {
    background-position: right bottom 67%;
    min-width: 0;
  }

  
  &::before, &::after {
    @include tablets {
      display: none;
    }
  }

  &::before {
    content: url("../img/CHOCCO/hero/group_6.png");
    position: absolute;
    bottom: -6%;
    right: 15%;
    
  }

  &::after {
    content: url("../img/CHOCCO/hero/sheet_3.png");
    position: absolute;
    bottom: -6%;
    left: 7%;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(45px);
  background: url("../img/CHOCCO/hero/bars.png") right center / 50% auto no-repeat;

  @include tablets {
    background: none;
  }
}