.overlay {
  position: fixed;
  background: #2e3133;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  -o-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden; 


  &.overlay--open {
    opacity: .99;
    visibility: visible;
    height: 100%; 
  
    .overlay-menu_item {
      -webkit-animation: fadeInRight .5s ease forwards;
      animation: fadeInRight .5s ease forwards;
      -webkit-animation-delay: .35s;
     animation-delay: .35s; 
    }
  }  
}

.overlay-menu {
  position: absolute;
  height: 70%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center; 
}
      
.overlay-menu_list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block; 
}
      
.overlay-menu_item {
  display: block;
  position: relative;
  line-height: 1;
  opacity: 0; 
 
  
  &:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff; 
  }
  
  &:last-child:after {
    display: none; 
  }
}
      
.overlay-menu_link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px; 
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0; 
  } 
}
      
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; 
  }
  100% {
    opacity: 1;
    left: 0; 
  } 
}
      
.body-active-menu {
  overflow: hidden; 
}
      
.btn-close {
  color: #fff;
  font-size: 24px;
  font-family: Helvetica;
}      