.player-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F8FAF9;
  position: relative;
  
  &::before {
    content:
    url("../img/CHOCCO/player/blackberry_1.png");
    right: 0;
    bottom: -10%;
    position: absolute;
    z-index: 5;

    @include tablets {
      display: none;
    }
  }

  &::after {
    content:
    url("../img/CHOCCO/player/pattern_1.png");
    left: 10%;
    bottom: 20%;
    position: absolute;
    z-index: 5;

    @include phones{
      display: none;
    }
  }

  .player-container {
    background: url("../img/CHOCCO/player/pattern_2.png") right top 17% / 15% auto no-repeat;

    @include phones {
      background: none;
    }

    .player-title {
      padding-top: 30px;
      text-align: center;
    }

    .player-section_container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .player {
        position: relative;
        max-width: 660px;

        #player {
          min-width: 660px;
          max-width: 660px;
          min-height: 370px;

          @include phones {
            min-width: 340px;
            max-width: 340px;
            min-height: 210px;
          }
        }

        .player-pic {
          width: 12%;
          position: absolute;
          left: 307px;
          top: 149px;
          cursor: pointer;

          @include phones {
            left: 157px;
            top: 83px;
          }
        }
      }

      .player-controls {
        width: 660px;
        height: 35px;
        background-color: #3e3e3e;
        margin-top: -11px;
        display: flex;

        @include phones {
          width: 341px;
        }
      }
    }
  }
}


