.player-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F8FAF9;
  position: relative;
  
  &::before {
    content:
    url("../img/CHOCCO/player/blackberry_1.png");
    right: 0;
    bottom: -10%;
    position: absolute;
    z-index: 5;

    @include phones {
      z-index: 1;
    }
  }

  &::after {
    content:
    url("../img/CHOCCO/player/pattern_1.png");
    left: 10%;
    bottom: 20%;
    position: absolute;
  }

  .player-container {
    background: url("../img/CHOCCO/player/pattern_2.png") right top 17% / 15% auto no-repeat;

    .player-section_container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .player {
        overflow: hidden;
        display: flex;
        position: relative;
        flex-direction: column;
        max-width: 100%;
        z-index: 3;

        #player {
          display: flex;
          object-fit: cover;
          max-width: 100%;
        }

        .player-pic {
          width: 12%;
          position: absolute;
          left: 50%;
          top: 37%;
          cursor: pointer;
        }
      }

      .player-controls {
        height: 35px;
        background-color: #3e3e3e;
        margin-top: -1px;
        display: flex;
      }
    }
  }
}



