.section {
  height: 100%;
  min-height: rem(650px);
}

.section-title {
  color: #292929;
  font-size: rem(48px);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: rem(25px);

  @include phones {
    margin-top: 6%;
  }
}



.title_green {
  color: $darkGreen;
}




