.slider-section {
  background-color: #F8FAF9;
}
  
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
  
//slider-controls
.slider-btn {
  position: absolute;
  top: 41%;
  transform: translateY(50%);
  width: 27px;
  z-index: 20;
     
  &_next {
    left: 2%;

    @include phones {
      left: -5px;
    }
  }
    
  &_prev {
    right: 2%;

    @include phones {
      right: -5px;
    }
  } 

  @include tablets {
    top: 38%;
  }

  @include phones {
    top: 36%;
  }
}
  
.slider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;

}
  
.slider-list {
  width: 100%;
  display: flex;
  right: 0;
  position: relative;
}

.slider-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  @include tablets {
    width: 100%;
    flex-direction: column;
  }  
}

.slider-left {
  width: 100%;

  @include tablets {
    width: 50%;
  }

  @include phones {
    width: 65%;
  }
}

  
.slider-img {
  display: flex;
  object-fit: cover;

  @include tablets {
    align-items: center;
  }
}
  
.slider-pic {
  display: flex;
  max-width: 100%;
}

.slider-ingredients {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-left: 38px;

  
  
  @include tablets {
   display: none; 
  }
}

.slider-title {
  font-size: 36px;
  font-weight: bold;
  color: #292929;
  text-transform: uppercase;
  
  @include tablets {
    font-size: 30px;
    text-align: center;
  }
}
  
.slider_title {
  padding: 0;
  line-height: 42px;
  margin: 26px 40px 34px 36px;

  @include tablets {
    margin: 0;
  }
}
  
.slider-desc {
  font-size: 18px;
  color: #666666;
  margin: 0 40px 34px 36px;

  @include tablets {
   text-align: center;
   margin: 0 90px 34px;
  }

  @include phones {
    margin: 0 52px 10px;
  }
}
  
.slider-tag {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 33px;
  margin-bottom: 20px;

  @include tablets {
    width: initial;
    justify-content: space-evenly;
  }
}
  
.tag-text {
  color: #666666;
}
  
.tag-value {
  color: #000000;
}
   
.slider-row {
  display: flex;
  align-items: flex-end;

  @include tablets {
   justify-content: space-evenly;
  }
}
  
.slider-price {
  margin-left: 44px;
  margin-right: 30px;

  @include phones {
    margin-right: 0;
  }
}

