.container-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 100px;
}

.header-logo {
  display: flex;
  align-items: center;
  width: 74%;
}

.logo {
  display: flex;
  margin-left: 80px;
  margin-right: 46px;
  width: 52.3px;
  height: 38px;
  content: url("../img/CHOCCO/container-logo/logo.svg");  
  align-items: center;
}

.menu-header {
  display: flex;
  width: 96%;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.menu-link {
  text-decoration: none;
  font-size: 18px;
}

.contacts-header {
  display: flex;
  width: 20%;
  margin-right: 7%;
  justify-content: flex-end;
}

.contacts-phone {
  display: flex;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
}

.contacts-phone::before {
content: url("../img/CHOCCO/container-logo/phone.png");
margin-right: 5px;
}
