.headline {
  text-align: center;
}

.headline-title {
  color: #292929;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.headline-subtitle {
  color: #666666;
  padding: 0 30%;
  margin-bottom: 42px;
}



