.headline {
  text-align: center;
}

.headline-title {
  color: #292929;
  font-size: rem(48px);
  font-weight: bold;
  margin-bottom: rem(60px);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: rem(25px);
}

.headline-subtitle {
  color: #666666;
  padding: 0 30%;
  margin-bottom: rem(42px);
}



