.hero {
  background: url("../img/CHOCCO/hero/батончики.png") left 96% center no-repeat, 
  url("../img/CHOCCO/hero/узор.png") right bottom no-repeat;
  background-color: $blue; 
  height: 100vh;
  min-width: 650px;
}