.reviews-section {
  position: relative;
  background: url("../img/CHOCCO/reviews/ягода_3.png") right 5% top no-repeat;

  &::before {
    content: url("../img/CHOCCO/reviews/узор_1.png");
    position: absolute;
    bottom: -154px;
    left: 0;
  }

  &::after {
    content:  
    url("../img/CHOCCO/reviews/ягоды_2.png");
    position: absolute;
    bottom: -80px;
    left: 0;
  }
}

.reviews-display {
  background: #F8FAF9 url("../img/CHOCCO/reviews/слой̆_2.png") right top no-repeat;
  margin-left: 84px;
  margin-right: 78px;
  padding: 51px 78px 34px 44px;
  overflow: hidden;
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    background: #ffff;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -65px;
  }
}

.reviews-display-inner {
  display: flex;
}

.reviews-avatar {
  width: 254px;
  height: 260px;
}

.reviews-avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews-content {
  flex: 1;
  margin-left: 20px;
}

.reviews-title {
  color: #292929;
  margin-top: 9px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 18px;
}

.reviews-text {
  color: #666666;
  line-height: 1.2;
  margin-bottom: 26px;
  padding: 0 108px 0 0;
}

.reviews-author {
  color: #292929;
  font-size: 18px;
  font-weight: bold;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}