.reviews-section {
  position: relative;
  background: url("../img/CHOCCO/reviews/ягода_3.png") right 5% top no-repeat;

  &::before {
    content: url("../img/CHOCCO/reviews/узор_1.png");
    position: absolute;
    bottom: rem(-154px);
    left: 0;
  }

  &::after {
    content:  
    url("../img/CHOCCO/reviews/ягоды_2.png");
    position: absolute;
    bottom: rem(-80px);
    left: 0;
  }
}

.reviews-display {
  background: url("../img/CHOCCO/reviews/слой_1.png") right top no-repeat;
  background-color:  #F8FAF9;
  margin-left: rem(84px);
  margin-right: rem(78px);
  padding: rem(51px) rem(78px) rem(34px) rem(44px);
  overflow: hidden;
  position: relative;

  @include tablets {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: rem(40px);
    padding: rem(51px) rem(22px) rem(34px);
  }
  
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: rem(90px);
    height: rem(90px);
    background: #ffff;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-65px);
  }
}

.reviews-display-inner {
  display: flex;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews-avatar {
  width: rem(254px);
  height: rem(260px);

  @include tablets {
    width: rem(130px);
    height: rem(132px);
  }
}

.reviews-avatar-img1 {
  object-fit: cover;
  width: 100%;
  height: 100%;

  @include tablets {
    display: none;
  }
}

.reviews-avatar-img2 {
  display: none;
  
  @include tablets {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;;
  }
}

.reviews-content {
  flex: 1;
  margin-left: rem(20px);

  &_block1 {

    @include tablets {
      display: none;
    }
  }
}


.reviews-content_block2 {
  display: none;

  @include tablets {
    display: block;
    flex: 1;
  }
}

.reviews-title {
  color: #292929;
  margin-top: rem(9px);
  font-size: rem(30px);
  font-weight: bold;
  margin-bottom: rem(18px);
}

.reviews-text {
  color: #666666;
  line-height: 1.2;
  margin-bottom: rem(26px);
  padding: 0 rem(108px) 0 0;

  @include tablets {
    padding: 0;
  }
}

.reviews-author {
  color: #292929;
  font-size: rem(18px);
  font-weight: bold;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}